services:
  # =============================
  # ZOOKEEPER
  # =============================
  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.0
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  # =============================
  # KAFKA
  # =============================

  kafka:
    image: confluentinc/cp-kafka:7.6.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  # =============================
  # INGESTION SERVICE
  # =============================

  ingestion-service:
    build:
      context: ../ingestion-service
    container_name: ingestion-service
    depends_on:
      kafka:
        condition: service_started
    ports:
      - "8000:8000"
    restart: unless-stopped
  # =============================
  # SPARK STREAMING
  # =============================
  spark:
    build:
      context: ../spark-streaming
    container_name: spark-streaming
    env_file:
    - .env
    depends_on:
      kafka:
        condition: service_started
    volumes:
      - ~/.aws:/root/.aws:ro
      - spark-checkpoints:/opt/spark/checkpoints
    environment:
      - AWS_PROFILE=default
    restart: unless-stopped
    networks:
      - default

  # =============================
  # ELASTICSEARCH
  # =============================
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.12.2
    container_name: elasticsearch
    env_file:
      - .env
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=true
      - ELASTIC_PASSWORD=${ELASTIC_PASSWORD}
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"
    volumes:
      - es_data:/usr/share/elasticsearch/data
    networks:
      - default

  # =============================
  # KIBANA
  # =============================
  kibana:
    image: docker.elastic.co/kibana/kibana:8.12.2
    container_name: kibana
    depends_on:
      - elasticsearch
    environment:
          - ELASTICSEARCH_HOSTS=${ELASTIC_HOST}
          - ELASTICSEARCH_USERNAME=${ELASTIC_USERNAME}
          - ELASTICSEARCH_PASSWORD=${ELASTIC_PASSWORD}
    ports:
      - "5601:5601"
    networks:
      - default

  # =============================
  # POSTGRES (AIRFLOW METADATA DB)
  # =============================

  postgres:
    image: postgres:13
    container_name: airflow-postgres
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - airflow-db:/var/lib/postgresql/data
    restart: unless-stopped

  # =============================
  # AIRFLOW INIT (DB + USER)
  # =============================
  airflow-init:
    image: apache/airflow:2.8.1
    user: "${AIRFLOW_UID}:0"
    container_name: airflow-init
    depends_on:
      - postgres
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
    volumes:
      - ../airflow/dags:/opt/airflow/dags
      - ../airflow/logs:/opt/airflow/logs
      - ../airflow/plugins:/opt/airflow/plugins
    command: >
      bash -c "
      airflow db migrate &&
      airflow users create
      --username admin
      --password admin
      --firstname admin
      --lastname admin
      --role Admin
      --email admin@example.com
      "
    restart: "no"

  # =============================
  # AIRFLOW WEBSERVER
  # =============================
  airflow-webserver:
    image: apache/airflow:2.8.1
    user: "${AIRFLOW_UID}:0"
    container_name: airflow-webserver
    depends_on:
      - postgres
      - airflow-init
    ports:
      - "8080:8080"
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
    volumes:
      - ../airflow/dags:/opt/airflow/dags
      - ~/.aws:/home/airflow/.aws:ro
      - ../airflow/logs:/opt/airflow/logs
      - ../airflow/plugins:/opt/airflow/plugins
    command: airflow webserver
    restart: unless-stopped

  # =============================
  # AIRFLOW SCHEDULER
  # =============================
  airflow-scheduler:
    image: apache/airflow:2.8.1
    user: "${AIRFLOW_UID}:0"
    container_name: airflow-scheduler
    depends_on:
      - postgres
      - airflow-init
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
    volumes:
      - ../airflow/dags:/opt/airflow/dags
      - ~/.aws:/home/airflow/.aws:ro
      - ../airflow/logs:/opt/airflow/logs
      - ../airflow/plugins:/opt/airflow/plugins
    command: airflow scheduler
    restart: unless-stopped

volumes:
  es_data:
  airflow-db:
  spark-checkpoints: